@import url('https://fonts.googleapi.com/css?family=Lato&display=swap');

* {
    box-sizing: border-box;

}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container {
    width: 640px;
    height: 400px;
    background-color: #a6a8ce;
    border: 10px solid #e7e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.sub-container {
    width: 350px;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading {
    background-color: #fcf2b5;
    padding: 5px 20px 5px 10px;
    border-radius: 10px 40px 40px 10px;
    font-weight: 600;
    font-size: 15px;
    position: absolute;
    bottom: 310px;
    right: 328px;
}

.sub-container-item {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.sub-container-item2 {
    width: 350px;
    height: fit-content;
    background-color: white;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    font-size: 14px;
}

.sub-container-item2-wrapper {
    margin-top: 10px;
}

.wrapper-heading {
    font-weight: 550;
    font-size: 18px;
    
}
.wrapper-sub {
    color: #4a4a4a;
}
.wrapper-sub2 {
    color: #999;
    font-weight: 600;
}



@media screen  and (max-width: 390px) {
    .sub-container {
        margin-left: 6.5rem;
    }
    .main-container {
        position: relative;
    }
    .heading {
        position: absolute;
        bottom: 310px;
        right: 290px;
    }
}



